* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
  }
  p {
    color: red;
    font-family: courier;
    font-size: 20px;
  }

  p.a {
    font: 15px Arial, sans-serif;
  }
  
  p.b {
    font: italic small-caps bold 12px/30px Georgia, serif;
  }

  /*inserir a url da fonte src: url(sansation_light.woff);
  @font-face {
    font-family: myFirstFont;
  }
*/

  div {
    font-family: myFirstFont;
  }

  /* fará a id myName ter bold*/
  #myName {
    font-weight: bold;
  }
  
  .boldText {
    font-weight: bold;
  }
  
  .FonteSizecm{
    font-size: 2cm;
  }
  
  .FonteSizemm{
    font-size: 20mm;
  }
  /*inches (1in = 96px = 2.54cm)*/
  .FonteSizein{
    font-size: 0.5in;
  }
  /*	pixels (1px = 1/96th of 1in)*/
  .FonteSizepx{
    font-size: 50px;
  }
  /*	points (1pt = 1/72 of 1in)*/
  .FonteSizept{
    font-size: 30pt;
  }
  /*picas (1pc = 12 pt)*/
  .FonteSizepc{
    font-size: 2pc;
  }
  
  /*Relative to the font-size of the element 
  (2em means 2 times the size of the current font)*/
  .FonteSizeem{
    font-size: 2em;
  }
  /*Relative to the x-height of the current font (rarely used)*/
  .FonteSizeex{
    font-size: 2ex;
  }
  /*	Relative to the width of the "0" (zero)*/
  .FonteSizech{
    font-size: 2ch;
  }
  /*	Relative to font-size of the root element*/
  .FonteSizerem{
    font-size: 2rem;
  }
  
  /*	Relative to 1% of the width of the viewport**/
  .FonteSizevm{
    font-size: 2vm;
  }
  /*Relative to 1% of the height of the viewport**/
  
  .FonteSizevh{
    font-size: 2vh;
  }
  /*Relative to 1% of viewport's* smaller dimension*/
  .FonteSizevmin{
    font-size: 2vmin;
  }
  /*Relative to 1% of viewport's* larger dimension*/
  .FonteSizevmax{
    font-size: 2vmax;
  }
  /* Relative to the parent element */
  .FonteSizepor{
    font-size: 100%;
  }
  .ex5 {
    font-size-adjust: 0.58;
  }
  
  .stretch {
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
    font-stretch: expanded;
  }

  p.normal {
    font-variant: normal;
  }
  
  p.small {
    font-variant: small-caps;
  }

  p2.normal {font-variant-caps: normal;}
  p2.small {font-variant-caps: small-caps;}
  p2.allsmall {font-variant-caps: all-small-caps;}
  p2.petite {font-variant-caps: petite-caps;}
  p2.allpetite {font-variant-caps: all-petite-caps;}
  p2.unicase {font-variant-caps: unicase;}
  p2.titling {font-variant-caps: titling-caps;}


  /* enable small-caps */
.ex1 { font-feature-settings: "smcp" on; }

/* convert both upper and lowercase to small caps */
.ex2 { font-feature-settings: "c2sc", "smcp"; }

/* no common ligatures */
.ex3 { font-feature-settings: "liga" 0; }

/* enable automatic fractions */
.ex4 { font-feature-settings: "frac"; }



div.va {
  line-height: normal;
}

div.vb {
  line-height: 1.6;
}

div.vc {
  line-height: 80%;
}

div.vd {
  line-height: 200%;
}



p.ex10 {
  margin: 35px;
}


p.ex11 {
  margin-top: 25px;
}


div.xxa {
  text-align: center;
}

div.xxb {
  text-align: left;
}

div.xxc {
  text-align: right;
} 

div.xxd {
  text-align: justify;
} 


#decoracao{
  text-decoration: overline;
  text-decoration: line-through;
  text-decoration: underline;
  text-decoration: underline overline;
}


div.kka {
  text-indent: 50px;
}

div.kkb {
  text-indent: -2em;
}

div.kkc {
  text-indent: 30%;
}

#allp {
  text-align: justify;
  text-justify: inter-word;
}


div.ha {
  white-space: nowrap; 
  width: 50px; 
  overflow: hidden;
  text-overflow: clip; 
  border: 1px solid #000000;
}

div.hb {
  white-space: nowrap; 
  width: 50px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  border: 1px solid #000000;
}

div.hc {
  white-space: nowrap; 
  width: 50px; 
  overflow: hidden;
  text-overflow: "----"; 
  border: 1px solid #000000;
}

#sombra {
  text-shadow: 2px 2px #FF0000;
}

h2.a {
  visibility: visible;
}

h2.b {
  visibility: hidden;
}

p.pppa {
  white-space: nowrap;
}

p.pppb {
  white-space: normal;
}

p.pppc {
  white-space: pre;
}



 p{
  
  border: 1px solid #000000;
}

p.ttta {
  word-break: normal;
}

p.tttb {
  word-break: keep-all;
}

p.tttc {
  word-break: break-all;
}


p.oooa { 
  word-spacing: normal;
}

p.ooob { 
  word-spacing: 30px;
}

p.oooc { 
  word-spacing: 1cm;
}


p.test1 {
  writing-mode: horizontal-tb; 
}

p.test2 {
  writing-mode: vertical-rl; 
}

span.test2 {
  writing-mode: vertical-rl; 
}


